<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant code:</strong>
  <%= @restaurant.restaurant_code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <% if @restaurant.image.attached? %>
    <%= image_tag @restaurant.image %>
  <% end %>
</p>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>

<h3>Review List</h3>
<ul>
  <% @restaurant.restaurant_review.each do |restaurant_review|%>
  　<div class="card border-light mb-3" style="max-width: 20rem;">
      <div class="card-header"><%= restaurant_review.user.full_name %></div>
      <div class="card-body">
        <p class="card-text"><%= restaurant_review.comment %></p>
      </div>
    </div>
  <% end %>
</ul>
<h2>Review Form</h2>
 <%= form_with(model: @restaurant_review, local: true) do |form| %>
   <div class= "field">
     <%= form.text_area :comment, :class => "form-control" %>
     <%= form.hidden_field :restaurant_code, :value => @restaurant.restaurant_code %>
   </div>
   <div class="actions">
     <%= form.submit %>
   </div>
 <% end %>

<style>
    .review{
        border: 1px solid #000;
        padding-left:5px;
        list-style : none;
        border-radius: 10px;
        padding-top: 5px;
        padding-botton: 5px;
        width: 800px;
    }
</style>